
html, body {
	font-family: 'Maven Pro', sans-serif;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: #f4f4f4;
	text-align: center;
	justify-content: center
}
main {
	flex: 1;
	display: flex;
	align-items: center;
	width: 100%;
}
header {
	background: #34A088;
	padding: 10px;
}
.text-container {
	margin: 0 auto;
}
h1 {
	color: #EEEEEE;
	font-size: 64px;
	font-weight: 600;
	margin: 0em;
}
h3 {
	color: #EEEEEE;
	margin-bottom: 0.5em;
	font-size: 22px;
}
#panel {
	position: absolute;
	top: 0;
	right: 0;
	padding: 8px;
}
#panel i {
	color: #EEEEEE;
	font-size: 36px;
}
#panel button {
	background-color: #248872;
	border-color: #0b5243;
}
#panel button:hover {
	background-color: #1a7964;
	border-color: #0b5243;
}
footer {
	background: #3d3d3d;
	padding: 5px;
}
footer p {
	color: #eee;
	font-size: 24px;
	margin-bottom: 0;
}
.bigtext {
	color: #272727;
    font-size: 80px;
    line-height: 1.2;
    margin-top: 40px;
}
.smalltext {
	color: #646464;
	font-size: 32px;
    margin-bottom: 40px;
}
.bigtext p, .smalltext p {
    margin: 0 auto;
}
