
html, body {
	font-family: 'Maven Pro', sans-serif;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: #f4f4f4;
	text-align: center;
	justify-content: center
}
#progress {
	background: #34A088;
	height: 100%;
	width: 0%;

	transition: width 0.5s;
	-webkit-transition: width 0.5s;
	-moz-transition: width 0.5s;
	-o-transition: width 0.5s;
}
#output {
	flex: 1;
}
main {
	flex: 1;
	display: flex;
	align-items: center;
	width: 100%;
}
header {
	background: #34A088;
	padding: 10px;
}
.text-container {
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.text-container > div {
	flex: auto;
	padding: 24px;
}
h1 {
	color: #EEEEEE;
	font-size: 64px;
	font-weight: 600;
	margin: 0em;
}
h3 {
	color: #EEEEEE;
	margin-bottom: 0.5em;
	font-size: 22px;
}
#panel {
	position: absolute;
	top: 0;
	right: 0;
	padding: 8px;
}
#panel i {
	color: #EEEEEE;
	font-size: 36px;
}
#panel button {
	background-color: #248872;
	border-color: #0b5243;
}
#panel button:hover {
	background-color: #1a7964;
	border-color: #0b5243;
}
footer {
	background: #3d3d3d;
	padding: 5px;
}
footer p {
	color: #eee;
	font-size: 24px;
	margin-bottom: 0;
}
.bigtext {
	color: #272727;
    font-size: 80px;
    line-height: 0.9;
	margin-bottom: 4px;
}
.smalltext {
	color: #646464;
	font-size: 32px;
	margin: 0;
}
.mobile-container {
	display: none;
}
.flash-msg {
	text-align: center;
}
.no-select p {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

@media screen and (max-height: 615px) {
	.text-container {
		flex-direction: row;
	}
}

@media only screen and (max-device-width: 480px) {
	#panel {
		position: relative;
	}
	.text-container {
		display: none;
	}
	.mobile-container {
		margin: 0 auto;
		display: block;
	}
}
