<!-- Login popup -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  <div class="form-group">
		    <label for="login-user">Username</label>
		    <input class="form-control" id="login-user">
			<div class="invalid-feedback">
	          Username does not exist
	        </div>
		  </div>
		  <div class="form-group">
		    <label for="login-password">Password</label>
		    <input type="password" class="form-control" id="login-password">
			<div class="invalid-feedback">
	          Incorrect password
	        </div>
		  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="register-start">Register</button>
        <button type="button" class="btn btn-primary" id="login-submit">Sign in</button>
      </div>
    </div>
  </div>
</div>

<!-- Register popup -->
<div class="modal fade" id="register-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		  <div class="form-group">
		    <label for="register-user">Username</label>
		    <input class="form-control" id="register-user">
			<div class="invalid-feedback">
	          Username already taken
	        </div>
		  </div>
		  <div class="form-group">
		    <label for="register-password">Password</label>
		    <input type="password" class="form-control" id="register-password">
			<div class="invalid-feedback">
	          Invalid password <!-- unimplemented -->
	        </div>
		  </div>
		  <div class="form-group">
		    <label for="register-confirm">Confirm Password</label>
		    <input type="password" class="form-control" id="register-confirm">
			<div class="invalid-feedback">
	          Passwords do not match
	        </div>
		  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="register-submit">Submit</button>
      </div>
    </div>
  </div>
</div>
